#tree-view-selector-container{
	overflow-x:auto;
}
.line-item-sep{
	margin:5px 0;
}
.portlet{
	margin-bottom:5px;
}
#data-entry-form-container {
	
}
#data-entry-form-container label{
	font-size:10px;
	font-weight:600;
}
#data-entry-form-container h3{
	font-size:12px !important;
	font-weight:600;
	margin-top:0;
}
#cart-category .icon-btn{
	margin:20px;
	margin-left:0;
}
.item-container{
    border: 1px solid #4D90FE;
    margin-right: 10px;
    margin-left: -15px;
    background: #4D90FE;
}
.stock-item .badge{
	float:right;
    font-size: 13px;
    height: 26px;
    /* font-weight: 600; */
    padding: 5px 8px;
}
.item-image-1{
border-bottom:1px solid #ddd;text-align: center;padding: 15px;background: #fff;
}
.item-image-1 img{
	max-width:100%;
	height:40px;
}
.item-title{
   color: #eee;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 5px;
    white-space: nowrap;
}
.item-price{
   color:#A7E862;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
	font-weight:600;
    white-space: nowrap;
}
#stocked-items{
	margin-left:0;
	margin-right:0;
}
#stocked-items  .stock-item{
	border:1px solid #eee;
	cursor:pointer;
}
.shopping-cart-table tbody tr.item-sales.active td{
	background:#333 !important;
	color:#fff;
}
#cart-checkout-container,
#discount-container,
.cart-item{
	display:none;
}
.shopping-cart-table thead th{
	font-size:12px;
}
.shopping-cart-table tfoot th{
	font-size:14px;
}

.shopping-cart-table tfoot th,
.shopping-cart-table thead th{
	background:#A7E862;
}
th.r,
td.r{
text-align:right;
}
th.c,
td.c{
text-align:center;
}

.shopping-cart-table .table-striped > tbody > tr:nth-child(even) > td{
	background:#DEF7C4;
	cursor:pointer;
}
.shopping-cart-table .table-striped > tbody > tr:nth-child(odd) > td{
	background:#f9f9f9;
	cursor:pointer;
}
#sales-view .nav a{
	color:#eee !important;
	font-size:14px;
	font-weight:600;
}
#sales-view .nav .active a{
	color:#333 !important;
}
ul.qq-upload-list{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}